header {
  animation: sizeDown 1s;
}
@keyframes sizeDown {
  0% {
    padding: 90px 0px;
  }
  100% {
    padding: 20px 0px;
  }
}

#vr-logo {
  animation: slideFromLeft 1s;
}
@keyframes slideFromLeft {
  0% {
    transform: translateX(-10vw);
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  100% {
    transform: translateX(0vw);
    opacity: 1;
  }
}

#mmoser-logo {
  animation: slideFromRight 1s;
}
@keyframes slideFromRight {
  0% {
    transform: translateX(20vw);
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  100% {
    transform: translateX(0vw);
    opacity: 1;
  }
}

#vr-man {
  animation: fadeIn 1s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    height: 0px;
  }
  100% {
    opacity: 1;
    height: 500px;
  }
}
#vr-man h1 {
  animation: slideFromRight 1500ms;
}
@keyframes slideFromRight {
  0% {
    opacity: 0;
    transform: translateX(1vw);
  }
  60% {
    opacity: 0;
    transform: translateX(1vw);
  }
  100% {
    opacity: 1;
    transform: translateX(0vw);
  }
}

.section-2 .option:nth-of-type(1) {
  animation: fade1 2s;
}
@keyframes fade1 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.section-2 .option:nth-of-type(2) {
  animation: fade2 2.1s;
}
@keyframes fade2 {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.section-2 .option:nth-of-type(3) {
  animation: fade3 2.5s;
}
@keyframes fade3 {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.section-3 > .column {
  opacity: 0;
}
.section-3> .column.animate {
  opacity: 1;
  animation: fader 1s;
}
@keyframes fader {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
