@font-face {
  font-family: 'Source Sans Pro';
  src: url('../fonts/SourceSansPro-Regular.ttf');
}

* {
  font-family: 'Source Sans Pro', sans-serif !important;
}
h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}
html, body {
  background-color: #fff;
  margin: 0;
  padding: 0;
  height: 100%;
}
header {
  padding: 20px 0px;
  background-color: #fff;
}
a {
  color: #FF6600;
}
.section-1 {
  height: 500px;
  display: block;
  width: 100%;
  position: relative;
  overflow: hidden;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.36+100 */
  background: -moz-linear-gradient(left,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.36) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.36) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.36) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#5c000000',GradientType=1 ); /* IE6-9 */
}
.section-1:before {
  content: '';
  background: url('../images/vr-person.png') no-repeat center;
  background-size: cover;
  position: absolute;
  height: 500px;
  bottom: 0;
  top: 0;
  margin: auto;
  left: 0;
  right: 0;
  opacity: 0.8;
  width: 100%;
}
.section-1 h1 {
  color: #FF6600;
  font-size: 3.6em;
  position: absolute;
  top: 0px;
  height: 243px;
  font-weight: bolder;
  width: 100%;
  max-width: 75rem;
  margin: auto;
  bottom: 0px;
  transition: all 220ms;
  text-align: left;
  left: 0;
  right: 0;
  padding-left: 15px;
}
.section-2 {
  color: #4d4d4d;
  padding-top: 5em;
  padding-bottom: 6em;
  background: #fff;
}
.section-2 img {
  height: 120px;
  padding: 1em 1em 1em 1em;
}
.section-2 h4 {
  color: #FF6600;
}
.item {
  background-color: #F2F2F2;
}
.preview {
  margin-bottom: 1em;
  overflow: hidden;
  height: 370px;
  text-align: center;
  cursor: pointer;
}
.item.row {
  margin: 0px 0px 2em 0px;
}
.item .preview img {
  height: 100%;
  width: auto;
  max-width: none;
  transform: translateX(-22%);
  transition: transform 1s;
}
.item .preview:hover img {
  transform: translateX(-41%);
  transition: transform 6s;
}
.section-3 > .column:first-of-type .item .preview img {
  transform: perspective(100px) translate3d(0px, 0px, 20px);
  margin-top: -27px;
  width: 100%;
  height: auto;
}
.section-3 > .column:first-of-type .item .preview:hover img {
  transform: perspective(100px) translate3d(0px, 0px, 15px);
  transition: transform 5s;
}

.title {
  color: #FF6600;
  font-weight: bolder;
  font-size: 1.3em;
}
.qr {
  min-height: 200px;
  margin-bottom: 1em;
}
footer {
  padding-top: 3em;
  padding-bottom: 1em;
}
.qr img {
  width: 124px;
  margin-top: 76px;
}

@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 2) {
  .section-1 {
    height: 265px;
    max-height: 265px;
  }
  .section-1:before {
    content: '';
    background: url('../images/vr-person-m.png') no-repeat center;
    background-size: cover;
    position: absolute;
    height: 265px;
    bottom: 0;
    top: 0;
    margin: auto;
    left: 0;
    right: 0;
    opacity: 0.8;
    width: 100%;
  }
  .section-1 h1 {
    font-size: 1.8em;
    width: auto;
    height: 120px;
    transition: all 220ms;
    padding-left: .625rem;
  }
  .section-2 {
    padding-top: 2em;
  }
  .section-2 .column img {
    padding: 1.6em;
  }
  .section-2 h4 {
    font-weight: bolder;
    font-size: 1.25em;
    line-height: 1em;
    margin-bottom: 0.45em;
  }
  .section-2 p {
    font-size: 1em;
  }
  .section-3 .title {
    font-size: 1.24em;
  }
  .section-3 .qr {
    height: 4em;
    text-align: center;
    margin-top: 1em;
  }
  .section-3 .qr img {
    height: 100%;
    width: auto;
  }
  .preview {
    height: 180px;
  }
  .preview img {
    width: 100% !important;
    height: auto !important;
    transform: none !important;
  }
  .preview:hover img {
    transform: none !important;
  }
  .qr img {
    margin-top: 0px;
  }
}
